@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  background-color: #fafcf5;
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  inset: 0;
  margin: 0px auto;
  max-width: 1280px !important;
}

@media (max-width: 1210px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 100% !important;
  }
}

.line-clamp-1 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 6;
}
.line-clamp-7 {
  word-break: break-word !important;
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 7;
}

.text-stroke {
  text-transform: uppercase;
  user-select: none;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #c4c4c499;
}


/*swiper buttons*/
.swiper-button-next,
.swiper-button-prev {
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 2em !important;
  justify-content: center;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em !important;
  z-index: 1;
  color: #000 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem !important;
  font-weight: 900;
  color: black;
}

 .swiper-pagination-bullet {
  background-color: #363636;
  width: 4rem;
  height: 0.4rem;
  border-radius: 1rem;
}
.swiper-pagination-bullet-active {
  background-color: black !important;
}